

.app {
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  min-height: 100vh; 
  margin: 0; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 20px; 
 
 
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 20px;
  color: white;
  font-size: .850em;
  background-color: rgba(110, 96, 96, 0.7); 
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; 
  text-align: center; 
  font-style: oblique;
}
.app-header .logo {
  display: flex;
  align-items: center;
  margin-right: 10px; 
}

.app-header .logo img {
  height: 50px; 
  width: auto; 
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 80px; 
  width: 100%;
}

.recipe-list {
  width: 45%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(234, 229, 229);
  padding: 20px;
}

.recipe-details {
  width: 50%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: white;
}

.recipe-list ul {
  list-style-type: none;
  padding: 0;
  cursor: pointer;
}

.recipe-list li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.recipe-list li:hover {
  background-color: #e0e0e0;
}

.recipe-details img {
  max-width: 30%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.images-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.images-container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 10px;
}

.author-name {
  font-weight: normal;
  color: #666666;
}
